<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="seaice.app.groupcontact">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- ZXING -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- Umeng Feedback -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Umeng Analytics -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- XiaoMi Update -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.xiaomi.market.sdk.UPDATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartupActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AuthActivity"
            android:label="@string/title_activity_create_user"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".UserListActivity"
            android:label="@string/title_activity_user_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".UserInfoActivity"
            android:label="@string/title_activity_user_info"
            android:screenOrientation="portrait" />

        <receiver android:name="com.xiaomi.market.sdk.DownloadCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".UserAddActivity"
            android:label="@string/title_activity_user_add"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroupCreateActivity"
            android:label="@string/title_activity_group_create"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScanActivity"
            android:label="@string/title_activity_scan"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserEditActivity"
            android:label="@string/title_activity_user_edit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".QrcodeActivity"
            android:label="@string/title_activity_qrcode"
            android:screenOrientation="portrait" />
        <activity android:name="com.umeng.fb.ConversationActivity" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="553ba03be0f55a87a6000e48" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="XiaoMI" />

        <activity
            android:name=".ActionSheetActivity"
            android:label="@string/title_activity_action_sheet"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>
